DATABASE_URL=postgresql://user:password@localhost:5432/conv_db
DIRECT_URL=postgresql://user:password@localhost:5432/conv_db

KAFKA_BROKER_URL=localhost:9092
KAFKA_TOPIC_INCOMING=whatsapp.incoming.messages
KAFKA_TOPIC_OUTGOING=whatsapp.outgoing.messages
KAFKA_USERNAME=
KAFKA_PASSWORD=
KAFKA_SSL=True
KAFKA_SASL_MECHANISM=PLAIN
